.input:focus, .input.is-focused, .input:active, .input.is-active, .textarea:focus, .textarea.is-focused, .textarea:active, .textarea.is-active{
    outline: 0 none;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}
.v-centered {
    align-items: center;
}
.color-white{
	color: #fff;
}
.table td, .table th{
    vertical-align: middle;
}
input[type="checkbox"], input[type="radio"] {
    vertical-align: middle;
}

.admin-panel-wrapper{
	position: relative;
	padding-left: 250px;
    transition: all 0.3s ease;

    &.left-menu-close{
        padding-left: 0px;
    }
}

// Left Navigation
.admin-panel-left-menu{
	width: 250px;
    position: fixed;
    height: 100%;
    background-color: $nav-area-bg;
    top: 0px;
    left: 0px;
    z-index: 3;
    transition: all 0.3s ease;
}
.left-menu-close .admin-panel-left-menu{
    left: -250px;
}
.admin-panel-name{
	height: 50px;
    padding: 10px;
    border-bottom: 1px solid $nav-dark-border;

    a.logo {
        font-size: 20px;
        display: block;
        color: #fff;
        font-weight: 700;
    }
}// .admin-panel-name

.laft-navigation{
    li{
        display: block;
        position: relative;

        &.left-navigation-has-submenu{
            &:before{
                position: absolute;
                font-family: "fontAwesome";
                content: "\f104";
                font-size: 14px;
                width: 20px;
                height: 20px;
                color: #FFF;
                right: 0px;
                top: 13px;
            }

            &.open{
                &:before{
                    content: "\f107";
                }

                .left-navigation-dropdown{
                    display: block;
                }
            }
        }
        
        a i{
            margin-right: 10px;
            opacity: 0.6;
        }
    }//li

    & > li {
        & > a{
            display: block;
            padding: 12px 10px 12px 15px;
            font-size: 14px;
            background: transparent;
            color: #FFF;
            text-decoration: none;
            transition: background-color 200ms linear;
            border-top: 1px solid $nav-light-border;
            border-bottom: 1px solid $nav-dark-border;

            &:hover{
                background: #394c5e;

                i{
                    opacity: 1;
                }
            }
        }

        &.active > a {
            background: #2f9fe0;
            color: #ffffff;
            border-top-color: #45a9e3;

            i{
                opacity: 1;
            }
        }
    }//& > li
}// .laft-navigation

.left-navigation-dropdown{
    background-color: #293744;
    position: relative;
    display: none;

    li.active a{
        background: #242f3b;
        padding-left: 35px;
        color: #FFF;
    }

    a{
        display: block;
        padding: 10px 0px 10px 30px;
        color: #AAA;
        transition: all 200ms ease;
        position: relative;
        font-size: 12px;

        &:hover{
            background: #242f3b;
            padding-left: 35px;
            color: #FFF;
        }
    }
}
.laft-navigation .left-navigation-dropdown a i {
    margin-right: 5px;
}

// Top navigation
.admin-panel-top-menu{
    background-color: $nav-area-bg;
	height: 50px;
	min-height: 1rem;
	border-bottom: 1px solid $nav-area-bg;
}
.top-menu-left-list{
    li{
        border-left: 1px solid $nav-dark-border;
        line-height: 50px;
        color: #fff;
        padding: 0 17px;
        display: inline-block;

        a{
            @extend .color-white;
            font-size: 1rem;
            &.page-navigation-toggle{
                font-size: 18px;
            }
        }
    }
}// .top-menu-left-list

.mini-profile {
    .user-small-img{
        margin-right: 10px;
        border-radius: 50%;
        border: 3px solid #5a7793;
        width: 34px;
        height: 34px
    }

    &.level-right .level-item{
        margin: 0;
    }
}

.mini-profile-text{
	width: 145px;
	padding-right: 10px;
    justify-content: left;
    
    a{
        @extend .color-white;
        line-height: 16px;
        font-size: 12px;
        font-weight: 700;
    }

    span{
        font-size: 11px;
        color: #CCC;
        display: block;
    }

}// .mini-profile-text

.mini-profile-menu {
	padding: 0 15px 0 0;
    position: relative;

    .dropdown-menu-trigger{
        @extend .color-white;
        display: block;
        opacity: 0.7;
        font-size: 16px;
        &.active{
            opacity: 1;
        }

        &:hover{
            opacity: 1;
        }
    }

    .dropdown-menu{
        min-width: 160px;
        padding: 5px 0;
        margin: 2px 0 0;
        font-size: 14px;
        text-align: left;
        background-color: #fff;
        border-radius: 4px;
        border: 1px solid $divider-border;
        left: auto;
        right: 7px;
        top: 29px;
        box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.05);
        display: block;

        &:before {
            border-color: rgba(229, 229, 229, 0);
            border: solid transparent;
            border-bottom-color: #fff;
            border-width: 6px;
            right: 7px;
            margin-left: -6px;
            bottom: 100%;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }

        li{
            a {
                display: block;
                padding: 3px 20px;
                clear: both;
                font-weight: normal;
                line-height: 1.5;
                font-size: 14px;
                color: #333333;
                white-space: nowrap;
                &:hover {
                    background: #F1F1F1;
                }
            }
        }

        .divider {
            height: 1px;
            margin: 9px 0;
            overflow: hidden;
            background-color: $divider-border;
        }
    }// .dropdown-menu

    .dropdown-header {
        display: block;
        padding: 3px 20px;
        font-size: 12px;
        line-height: 1.42857143;
        color: #777777;
        white-space: nowrap;
    }

}// .mini-profile-menu 

// Page Heading 
.page-heading-block{
    padding: 18px 20px 10px 20px;
    border-bottom: 1px solid $divider-border;

    .page-heading-title{
        font-size: 24px;
        line-height: 1.1;
        color: #444;
        font-weight: 400;
        margin-bottom: 5px;
    }
    .page-heading-subtitle{
        font-size: 12px;
        line-height: 1.8;
        color: #888;
        font-weight: 400;
        text-transform: uppercase;
        margin: 0px 0px 5px;
    }
}

// Home Page content
.page-main-content{
    padding: 10px;
}

.button i{
    margin-right: 8px;
}

.card{
    border-radius: 3px;

    .table {
        margin: 0;
        font-size: 0.8rem;
    }
}
.card-header-icon, .card-header-title{
    padding: 0.6rem 0.75rem;
}
.card-header-title{
    font-size: 0.9rem;
}
.card-content {
    padding: 1rem 0.8rem;
}
.admin-homepage-form{
    padding: 0.6rem 0.75rem;

    .label{
        font-size: 0.9rem;
    }
    .textarea{
        height: 108px;
        min-height: initial;
    }
}
.admin-home-top{
    margin-bottom: 1.5rem;
}

// Nice scroll
.vue-scrollbar-transition, .vue-scrollbar__scrollbar-vertical, .vue-scrollbar__scrollbar-horizontal {
    transition: all 0.5s ease;
}
.vue-scrollbar-transition--scrollbar {
    transition: opacity 0.5s linear;
}
.vue-scrollbar__wrapper {
    overflow: hidden;
    position: relative;
}
.vue-scrollbar__wrapper:hover .vue-scrollbar__scrollbar-vertical, .vue-scrollbar__wrapper:hover .vue-scrollbar__scrollbar-horizontal {
    opacity: 1;
}
.vue-scrollbar__scrollbar-vertical, .vue-scrollbar__scrollbar-horizontal {
    opacity: 0.5;
    position: absolute;
    background: transparent;
}
.vue-scrollbar__scrollbar-vertical:hover, .vue-scrollbar__scrollbar-horizontal:hover {
    background-color: rgba(0, 0, 0, 0.3);
}
.vue-scrollbar__scrollbar-vertical .scrollbar, .vue-scrollbar__scrollbar-horizontal .scrollbar {
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: default;
}
.vue-scrollbar__scrollbar-vertical {
    width: 7px;
    height: 100%;
    top: 0;
    right: 0;

    .scrollbar {
        width: 7px;
    }
}
.vue-scrollbar__scrollbar-horizontal {
    height: 7px;
    width: 100%;
    bottom: 0;
    right: 0;

    .scrollbar {
        height: 7px;
    }
}

// Breadcrumb
.page-headings{
    background-color: #ffffff;
}
.breadcrumb-block {
    border-bottom: 1px solid $divider-border;
    padding: 8px 25px;
    font-size: 12px;

    li {
        display: inline-block;

        & + li:before {
            content: "\f105";
            font-family: "FontAwesome";
            padding: 0px 7px 0px 5px;
            color: #ccc;
            font-size: 13px;
        }

        &.active {
            color: #333;
            text-transform: uppercase;
            font-size: 11px;
        }

        a {
            text-transform: uppercase;
            color: #888;
            font-size: 11px;
        }
    }
}//.breadcrumb-block

// Post list table
.table-several-actions {
    .is-small{
        font-size: 0.8rem;
    }
    .card-header-title{
        font-weight: 400;
    }
}
.table-rows-count-menu{
    li {
        display: inline-block;
        
        & + li:before {
            content: "|";
            font-size: 12px;
            padding-left: 3px;
            padding-right: 5px;
        }

        a {
            color: #888;
            font-size: 12px;
        }
    }
}//.table-rows-count-menu

.field.is-grouped > .control.small-margin {
    margin-right: 4px;
}
.pagination-previous, .pagination-next, .pagination-link, .pagination-ellipsis{
    margin: 2px;
}
.card.table-list-card{
    overflow: hidden;
}
.card-table-content{
    margin-top: 12px;

    .table{
        thead{
            background-color: #F0F0F0;
            th{
                padding: 0.75em;
            }
        }

        .checkbox-column{
            width: 40px;
        }
        .id-column{
            width: 70px;
        }
        .status-column{
            width: 120px;
        }
        .action-column{
            width: 110px;
        }

        .action-cell .button.is-small {
            width: 21px;
            height: 21px;
            line-height: 21px;
            border-radius: 3px;
            padding: 0;

            i {
                margin-right: 0px;
            }
        }

        .buttons {
            height: 21px;
            margin-bottom: 0;

            .button{
                margin-bottom: 0;
            }
        }
    }
}//.card-table-content

.list-total-items{
    font-size: 13px;
    margin-right: 18px;
}


// Form Page
.form-fields{
    .right-column-file{
        .file-name{
            font-size: 0.8rem;
            width: 100%;
            max-width: initial;
            text-align: center;
        }
        .file-label{
            width: 100%;
        }
    }
}//.form-fields

.form-page-content{
    @include desktop-only{
        .column.is-9-desktop.is-7-tablet{
            width: 67%;
        }
        .column.is-3-desktop.is-5-tablet{
            width: 33%;
        }
    }
    
}
.mce-tinymce.mce-container.mce-panel{
    padding-right: 1px
}
.admin-editor-field .control{
    padding-right: 2px
}